node-red/flows_nodered.json
[{"id":"f25cd622.40f3a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"31d87628.4e2f2a","type":"mqtt-broker","z":"","name":"test-1","broker":"192.168.1.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"db32d5a1.c57768","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Sprinkler Pi","hideToolbar":"true","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e10508d8.3a5aa8","type":"ui_tab","z":"","name":"Sprinklers","icon":"dashboard","order":1},{"id":"655491b1.fb808","type":"ui_group","z":"","name":"Water","tab":"e10508d8.3a5aa8","order":1,"disp":true,"width":"8","collapse":false},{"id":"cfcc141b.b81878","type":"ui_group","z":"","name":"Display","tab":"e10508d8.3a5aa8","order":2,"disp":true,"width":"8","collapse":false},{"id":"1811219a.04424e","type":"ui_group","z":"","name":"Buttons","tab":"","order":1,"disp":false,"width":"8","collapse":false},{"id":"3e220f7d.c2e5a","type":"serial-port","z":"","serialport":"","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"39ca20a0.34aa4","type":"ui_group","z":"","name":"Cam Feed","tab":"e10508d8.3a5aa8","order":3,"disp":true,"width":"12","collapse":false},{"id":"9a5a8463.fdc728","type":"rpi-gpio out","z":"f25cd622.40f3a8","name":"1- garden","pin":"7","set":true,"level":"1","freq":"","out":"out","x":1980,"y":340,"wires":[]},{"id":"33eee930.eae6a6","type":"rpi-gpio out","z":"f25cd622.40f3a8","name":"7 back side","pin":"18","set":true,"level":"1","freq":"","out":"out","x":1990,"y":820,"wires":[]},{"id":"346ce32b.51c1ec","type":"rpi-gpio out","z":"f25cd622.40f3a8","name":"8- swing set","pin":"22","set":true,"level":"1","freq":"","out":"out","x":1990,"y":900,"wires":[]},{"id":"352f886a.199148","type":"rpi-gpio out","z":"f25cd622.40f3a8","name":"2 below garden","pin":"11","set":true,"level":"1","freq":"","out":"out","x":2000,"y":420,"wires":[]},{"id":"1efa8e39.cd2c32","type":"rpi-gpio out","z":"f25cd622.40f3a8","name":"6 east house","pin":"16","set":true,"level":"1","freq":"","out":"out","x":1990,"y":740,"wires":[]},{"id":"905e1b28.92aa98","type":"rpi-gpio out","z":"f25cd622.40f3a8","name":"3 bad line","pin":"13","set":true,"level":"1","freq":"","out":"out","x":1980,"y":500,"wires":[]},{"id":"c8b3b04b.2363d","type":"rpi-gpio out","z":"f25cd622.40f3a8","name":"4 patio","pin":"15","set":true,"level":"1","freq":"","out":"out","x":1970,"y":580,"wires":[]},{"id":"d4de30dc.01ea","type":"rpi-gpio out","z":"f25cd622.40f3a8","name":"5 hose line","pin":"12","set":true,"level":"1","freq":"","out":"out","x":1990,"y":660,"wires":[]},{"id":"6dc96a05.d9caf4","type":"comment","z":"f25cd622.40f3a8","name":"Sprinkler Pi Flow","info":"","x":720,"y":20,"wires":[]},{"id":"874af237.c07c9","type":"function","z":"f25cd622.40f3a8","name":"Sprinkler Topics for Chart","func":"\n//each topic makes its own line on the chart\n//topic name shows up as a chart label\n\n// ***   zone1    ***\nif (msg.payload == \"10\") {\n    \n    msg.topic = \"Zone1\";\n    return [ msg, null, null, null, null, null, null, null ];\n} else if (msg.payload == \"15\") {\n    \n\n    msg.topic = \"Zone1\";\n    return [ msg, null, null, null, null, null, null, null ];\n\n// ***   zone2   ***\n} else if (msg.payload == \"20\") {\n    \n    msg.topic = \"Zone2\";\n    return [ null, msg, null, null, null, null, null, null ];\n} else if (msg.payload == \"25\") {\n    \n    msg.topic = \"Zone2\";\n    return [ null, msg, null, null, null, null, null, null ];\n\n// ***   zone3   ***\n} else if (msg.payload == \"30\") {\n    \n    msg.topic = \"Zone3\";\n    return [ null, null, msg, null, null, null, null, null ];\n} else if (msg.payload == \"35\") {\n    \n\n    msg.topic = \"Zone3\";\n    return [ null, null, msg, null, null, null, null, null ];\n\n// ***   zone4   ***\n} else if (msg.payload == \"40\") {\n    \n    msg.topic = \"Zone4\";\n    return [ null, null, null, msg, null, null, null, null ];\n} else if (msg.payload == \"45\") {\n    \n\n    msg.topic = \"Zone4\";\n    return [ null, null, null, msg, null, null, null, null ];\n\n// ***   zone5   ***\n} else if (msg.payload == \"50\") {\n    \n    msg.topic = \"Zone5\";\n    return [ null, null, null, null, msg, null, null, null ];\n} else if (msg.payload == \"55\") {\n    \n\n    msg.topic = \"Zone5\";\n    return [ null, null, null, null, msg, null, null, null ];\n\n// ***   zone6   ***\n} else if (msg.payload == \"60\") {\n    \n    msg.topic = \"Zone6\";\n    return [ null, null, null, null, null, msg, null, null ];\n} else if (msg.payload == \"65\") {\n    \n\n    msg.topic = \"Zone6\";\n    return [ null, null, null, null, null, msg, null, null ];\n\n// ***   zone7   ***\n} else if (msg.payload == \"70\") {\n    \n    msg.topic = \"Zone7\";\n    return [ null, null, null, null, null, null, msg, null ];\n} else if (msg.payload == \"75\") {\n    \n\n    msg.topic = \"Zone7\";\n    return [ null, null, null, null, null, null, msg, null ];\n\n// ***   zone8   ***\n} else if (msg.payload == \"80\") {\n    \n    msg.topic = \"Zone8\";\n    return [ null, null, null, null, null, null, null, msg ];\n} else if (msg.payload == \"85\") {\n    \n\n    msg.topic = \"Zone8\";\n    return [ null, null, null, null, null, null, null, msg ];\n\n\n} else {\n    \n    return [ null, null, null, null, null, null, null, null ];\n}\n","outputs":8,"noerr":0,"x":1630,"y":1000,"wires":[["c6f32183.a810d"],["c6f32183.a810d"],["c6f32183.a810d"],["c6f32183.a810d"],["c6f32183.a810d"],["c6f32183.a810d"],["c6f32183.a810d"],["c6f32183.a810d"]]},{"id":"a4dff9.a1d90008","type":"change","z":"f25cd622.40f3a8","name":"OFF - 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":320,"wires":[["9a5a8463.fdc728","cadcf7e2.e57268"]]},{"id":"dbda7d23.3d3a4","type":"switch","z":"f25cd622.40f3a8","name":"Num Split","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"15","vt":"num"},{"t":"eq","v":"20","vt":"num"},{"t":"eq","v":"25","vt":"num"},{"t":"eq","v":"30","vt":"num"},{"t":"eq","v":"35","vt":"num"},{"t":"eq","v":"40","vt":"num"},{"t":"eq","v":"45","vt":"num"},{"t":"eq","v":"50","vt":"num"},{"t":"eq","v":"55","vt":"num"},{"t":"eq","v":"60","vt":"num"},{"t":"eq","v":"65","vt":"num"},{"t":"eq","v":"70","vt":"num"},{"t":"eq","v":"75","vt":"num"},{"t":"eq","v":"80","vt":"num"},{"t":"eq","v":"85","vt":"num"}],"checkall":"true","repair":false,"outputs":16,"x":1580,"y":600,"wires":[["a4dff9.a1d90008"],["e0c81c0d.9407b"],["79dc95f7.6e1cdc"],["d6496e9f.28ccd"],["90f94a19.867ed8"],["e01dbb72.710138"],["235069a.2fb8596"],["2b16be1b.9327d2"],["35755485.7649ec"],["3a229669.e8f15a"],["b9a0b89f.162d98"],["ad2621ae.64629"],["3f2d2a1a.7fa8c6"],["ce42d9e1.80c8c8"],["5cdbba97.47acd4"],["d9c536c6.b687f8"]]},{"id":"e0c81c0d.9407b","type":"change","z":"f25cd622.40f3a8","name":"ON - 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1750,"y":360,"wires":[["9a5a8463.fdc728","65dda82d.38ec08"]]},{"id":"79dc95f7.6e1cdc","type":"change","z":"f25cd622.40f3a8","name":"OFF - 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":400,"wires":[["352f886a.199148","860400ab.6d271"]]},{"id":"d6496e9f.28ccd","type":"change","z":"f25cd622.40f3a8","name":"ON - 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1750,"y":440,"wires":[["352f886a.199148","33883350.df2a2c"]]},{"id":"90f94a19.867ed8","type":"change","z":"f25cd622.40f3a8","name":"OFF - 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":480,"wires":[["905e1b28.92aa98","151226af.16e1e9"]]},{"id":"e01dbb72.710138","type":"change","z":"f25cd622.40f3a8","name":"ON - 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1750,"y":520,"wires":[["905e1b28.92aa98","74e5891f.500988"]]},{"id":"235069a.2fb8596","type":"change","z":"f25cd622.40f3a8","name":"OFF - 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":560,"wires":[["c8b3b04b.2363d","8b4e1cb8.9ef9a"]]},{"id":"2b16be1b.9327d2","type":"change","z":"f25cd622.40f3a8","name":"ON - 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1750,"y":600,"wires":[["c8b3b04b.2363d","b253185f.d9af08"]]},{"id":"35755485.7649ec","type":"change","z":"f25cd622.40f3a8","name":"OFF - 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":640,"wires":[["d4de30dc.01ea","8d7387bd.c618f8"]]},{"id":"3a229669.e8f15a","type":"change","z":"f25cd622.40f3a8","name":"ON - 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1750,"y":680,"wires":[["d4de30dc.01ea","1a9e3f9a.9e60b"]]},{"id":"b9a0b89f.162d98","type":"change","z":"f25cd622.40f3a8","name":"OFF - 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":720,"wires":[["1efa8e39.cd2c32","3955cdf3.0f3482"]]},{"id":"ad2621ae.64629","type":"change","z":"f25cd622.40f3a8","name":"ON - 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1750,"y":760,"wires":[["1efa8e39.cd2c32","912ebcb7.4a218"]]},{"id":"3f2d2a1a.7fa8c6","type":"change","z":"f25cd622.40f3a8","name":"OFF - 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":800,"wires":[["33eee930.eae6a6","f14eb6aa.434c18"]]},{"id":"ce42d9e1.80c8c8","type":"change","z":"f25cd622.40f3a8","name":"ON - 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1750,"y":840,"wires":[["33eee930.eae6a6","4a310776.e88b08"]]},{"id":"5cdbba97.47acd4","type":"change","z":"f25cd622.40f3a8","name":"OFF - 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":880,"wires":[["346ce32b.51c1ec","58ecb181.577dc"]]},{"id":"d9c536c6.b687f8","type":"change","z":"f25cd622.40f3a8","name":"ON - 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1750,"y":920,"wires":[["346ce32b.51c1ec","9fb0db04.d46a68"]]},{"id":"c6f32183.a810d","type":"link out","z":"f25cd622.40f3a8","name":"Chart Function","links":["3a818e05.c793f2"],"x":1875,"y":1000,"wires":[]},{"id":"c1dc8c4f.00c14","type":"inject","z":"f25cd622.40f3a8","name":"10 pm start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"05 21 * * *","once":false,"onceDelay":0.1,"x":110,"y":320,"wires":[[]]},{"id":"65c70c4c.a61624","type":"inject","z":"f25cd622.40f3a8","name":"inject # minutes","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":320,"y":260,"wires":[["2f675d3d.91c032","f6febd94.de1e6","cc970d0.35579f","60cc273c.0e0648","e5d53b4.34811c8","3875328d.a0d91e","d01511c3.864ae"]]},{"id":"2f675d3d.91c032","type":"ui_numeric","z":"f25cd622.40f3a8","name":"Time-set 5","label":"Hose Line 5 -- Minutes Setting","group":"655491b1.fb808","order":29,"width":"8","height":"1","passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":610,"y":440,"wires":[["7ba2e291.5ccecc"]]},{"id":"64f7e220.c3664c","type":"ui_text","z":"f25cd622.40f3a8","group":"655491b1.fb808","order":32,"width":"2","height":"1","name":"5-remaining","label":"Left","format":"{{msg.payload}}","layout":"row-left","x":1290,"y":380,"wires":[]},{"id":"e9512462.94a6e8","type":"ui_button","z":"f25cd622.40f3a8","name":"Start Hose Line 5","group":"655491b1.fb808","order":30,"width":"5","height":"1","passthru":false,"label":"Start Hose  5","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":310,"y":400,"wires":[["387f5a8e.1f1566"]]},{"id":"7ba2e291.5ccecc","type":"function","z":"f25cd622.40f3a8","name":"5 Global Set","func":"global.set(\"sp5\",msg.payload);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":440,"wires":[[]]},{"id":"387f5a8e.1f1566","type":"function","z":"f25cd622.40f3a8","name":"5 Remaining Set","func":"var g = global.get(\"sp5\") + 1;\nglobal.set(\"sp5Remaining\",g);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":400,"wires":[["f4a402c7.57925"]]},{"id":"8c626e96.49665","type":"inject","z":"f25cd622.40f3a8","name":"1 minute inject","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":300,"wires":[["5e565b1c.051fe4"]]},{"id":"f4a402c7.57925","type":"function","z":"f25cd622.40f3a8","name":"5 Remaining Minus","func":"var msg2 = {};\nvar msg3 = {};\nvar r = global.get(\"sp5Remaining\");\nif (r > 0) {\n    msg.payload = 55;\n    msg3.payload = \"green\";\n    r -= 1;\n    global.set(\"sp5Remaining\",r)\n   \n    if (r < 1) {\n     msg.payload = 50;\n     msg3.payload = \"black\";\n   }\n    msg2.payload = r;\n    return [msg, msg2, msg3];\n}\n\n    ","outputs":3,"noerr":0,"x":1050,"y":400,"wires":[["1d9c0dac.c8e1f2"],["64f7e220.c3664c"],["f7db3bc4.d99268"]]},{"id":"45e97b3b.a22274","type":"ui_button","z":"f25cd622.40f3a8","name":"Stop All UI Button","group":"cfcc141b.b81878","order":1,"width":"5","height":"1","passthru":false,"label":"STOP ALL","color":"","bgcolor":"red","icon":"","payload":"0","payloadType":"num","topic":"","x":690,"y":180,"wires":[["26c5559a.b2990a"]]},{"id":"26c5559a.b2990a","type":"function","z":"f25cd622.40f3a8","name":"Global Set","func":"global.set(\"sp1Remaining\",1);\nglobal.set(\"sp2Remaining\",1);\nglobal.set(\"sp3Remaining\",1);\nglobal.set(\"sp4Remaining\",1);\nglobal.set(\"sp5Remaining\",1);\nglobal.set(\"sp6Remaining\",1);\nglobal.set(\"sp7Remaining\",1);\nglobal.set(\"sp8Remaining\",1);\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":260,"wires":[["5e565b1c.051fe4"]]},{"id":"c8b188ce.1049d8","type":"ui_template","z":"f25cd622.40f3a8","group":"cfcc141b.b81878","name":"garden-img","order":7,"width":"7","height":"7","format":"<div ng-bind-html=\"msg.payload\"></div>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":2450,"y":640,"wires":[[]]},{"id":"8d7387bd.c618f8","type":"function","z":"f25cd622.40f3a8","name":"picture change","func":"\nmsg.payload = \"<img src='/static/garden-off.gif'>\";\nreturn msg;\n","outputs":1,"noerr":0,"x":2200,"y":680,"wires":[["c8b188ce.1049d8"]]},{"id":"1a9e3f9a.9e60b","type":"function","z":"f25cd622.40f3a8","name":"picture change","func":"\nmsg.payload = \"<img src='/static/garden-on.gif'>\"\nreturn msg;\n\n","outputs":1,"noerr":0,"x":2200,"y":720,"wires":[["c8b188ce.1049d8"]]},{"id":"ae60ac8d.66a61","type":"ui_numeric","z":"f25cd622.40f3a8","name":"Time-set 8","label":"Swingset 8 -- Minutes Setting","group":"655491b1.fb808","order":1,"width":"8","height":"1","passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":610,"y":540,"wires":[["7056f0de.44f03"]]},{"id":"8848239.22545e","type":"ui_text","z":"f25cd622.40f3a8","group":"655491b1.fb808","order":4,"width":"2","height":"1","name":"8-remaining","label":"Left","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":480,"wires":[]},{"id":"f9a025d.71aa9d8","type":"ui_button","z":"f25cd622.40f3a8","name":"Start Swingset 8","group":"655491b1.fb808","order":2,"width":"5","height":"1","passthru":false,"label":"Start Swingset 8","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":320,"y":500,"wires":[["24787281.d7d72e"]]},{"id":"7056f0de.44f03","type":"function","z":"f25cd622.40f3a8","name":"8 Global Set","func":"global.set(\"sp8\",msg.payload);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":540,"wires":[[]]},{"id":"24787281.d7d72e","type":"function","z":"f25cd622.40f3a8","name":"8 Remaining Set","func":"var g = global.get(\"sp8\") + 1;\nglobal.set(\"sp8Remaining\",g);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":500,"wires":[["63142595.2dde8c"]]},{"id":"63142595.2dde8c","type":"function","z":"f25cd622.40f3a8","name":"8 Remaining Minus","func":"var msg2 = {};\nvar msg3 = {};\nvar r = global.get(\"sp8Remaining\");\nif (r > 0) {\n    msg.payload = 85;\n    msg3.payload = \"green\";\n    r -= 1;\n    global.set(\"sp8Remaining\",r)\n   \n    if (r < 1) {\n     msg.payload = 80;\n     msg3.payload = \"black\";\n   }\n    msg2.payload = r;\n    return [msg, msg2, msg3];\n}\n\n    \n","outputs":3,"noerr":0,"x":1050,"y":500,"wires":[["1d9c0dac.c8e1f2"],["8848239.22545e"],["e637d6a9.576e08"]]},{"id":"5e565b1c.051fe4","type":"link out","z":"f25cd622.40f3a8","name":"","links":["4b14b3cb.2640fc"],"x":855,"y":280,"wires":[]},{"id":"4b14b3cb.2640fc","type":"link in","z":"f25cd622.40f3a8","name":"","links":["5e565b1c.051fe4"],"x":895,"y":280,"wires":[["f4a402c7.57925","63142595.2dde8c","8b8d23f9.cf0d2","4ca2695.b9c5498","49c085d9.1e78ec","9b8293ee.aae7e","78a1b93d.57fb88","eeb06714.62f418"]]},{"id":"58ecb181.577dc","type":"function","z":"f25cd622.40f3a8","name":"picture change","func":"\nmsg.payload = \"<img src='/static/swing-set-off.gif'>\";\nreturn msg;\n","outputs":1,"noerr":0,"x":2200,"y":920,"wires":[["c8b188ce.1049d8"]]},{"id":"9fb0db04.d46a68","type":"function","z":"f25cd622.40f3a8","name":"picture change","func":"\nmsg.payload = \"<img src='/static/swing-set-on.gif'>\"\nreturn msg;\n\n","outputs":1,"noerr":0,"x":2200,"y":960,"wires":[["c8b188ce.1049d8"]]},{"id":"d463f334.c3a97","type":"ui_button","z":"f25cd622.40f3a8","name":"Start Back Side 7","group":"655491b1.fb808","order":6,"width":"5","height":"1","passthru":false,"label":"Start Back Side 7","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":310,"y":600,"wires":[["9f936482.155ee8"]]},{"id":"f6febd94.de1e6","type":"ui_numeric","z":"f25cd622.40f3a8","name":"Time-set 7","label":"Back Side 7 -- Minutes Setting","group":"655491b1.fb808","order":5,"width":"8","height":"1","passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":610,"y":640,"wires":[["1fb5eb54.810e35"]]},{"id":"bfe3f379.d49ba","type":"ui_text","z":"f25cd622.40f3a8","group":"655491b1.fb808","order":8,"width":"2","height":"1","name":"7-remaining","label":"Left","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":580,"wires":[]},{"id":"1fb5eb54.810e35","type":"function","z":"f25cd622.40f3a8","name":"7 Global Set","func":"global.set(\"sp7\",msg.payload);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":640,"wires":[[]]},{"id":"9f936482.155ee8","type":"function","z":"f25cd622.40f3a8","name":"7 Remaining Set","func":"var g = global.get(\"sp7\") + 1;\nglobal.set(\"sp7Remaining\",g);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":600,"wires":[["8b8d23f9.cf0d2"]]},{"id":"8b8d23f9.cf0d2","type":"function","z":"f25cd622.40f3a8","name":"7 Remaining Minus","func":"var msg2 = {};\nvar msg3 = {};\nvar r = global.get(\"sp7Remaining\");\nif (r > 0) {\n    msg.payload = 75;\n    msg3.payload = \"green\";\n    r -= 1;\n    global.set(\"sp7Remaining\",r)\n   \n    if (r < 1) {\n     msg.payload = 70;\n     msg3.payload = \"black\";\n   }\n    msg2.payload = r;\n    return [msg, msg2, msg3];\n}\n\n    \n","outputs":3,"noerr":0,"x":1050,"y":600,"wires":[["1d9c0dac.c8e1f2"],["bfe3f379.d49ba"],["3c86734e.b40e6c"]]},{"id":"f14eb6aa.434c18","type":"function","z":"f25cd622.40f3a8","name":"picture change","func":"\nmsg.payload = \"<img src='/static/back-side-off.gif'>\";\nreturn msg;\n","outputs":1,"noerr":0,"x":2200,"y":840,"wires":[["c8b188ce.1049d8"]]},{"id":"4a310776.e88b08","type":"function","z":"f25cd622.40f3a8","name":"picture change","func":"\nmsg.payload = \"<img src='/static/back-side-on.gif'>\"\nreturn msg;\n\n","outputs":1,"noerr":0,"x":2200,"y":880,"wires":[["c8b188ce.1049d8"]]},{"id":"edd479f0.7bd928","type":"ui_button","z":"f25cd622.40f3a8","name":"Start Patio 4","group":"655491b1.fb808","order":10,"width":"5","height":"1","passthru":false,"label":"Start Patio 4","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":330,"y":700,"wires":[["1f927d83.f438e2"]]},{"id":"cc970d0.35579f","type":"ui_numeric","z":"f25cd622.40f3a8","name":"Time-set 4","label":"Patio 4 -- Minutes Setting","group":"655491b1.fb808","order":9,"width":"8","height":"1","passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":610,"y":740,"wires":[["502bd85a.907b98"]]},{"id":"8cc7b156.65d57","type":"ui_text","z":"f25cd622.40f3a8","group":"655491b1.fb808","order":12,"width":"2","height":"1","name":"4-remaining","label":"Left","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":680,"wires":[]},{"id":"502bd85a.907b98","type":"function","z":"f25cd622.40f3a8","name":"4 Global Set","func":"global.set(\"sp4\",msg.payload);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":740,"wires":[[]]},{"id":"1f927d83.f438e2","type":"function","z":"f25cd622.40f3a8","name":"4 Remaining Set","func":"var g = global.get(\"sp4\") + 1;\nglobal.set(\"sp4Remaining\",g);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":700,"wires":[["4ca2695.b9c5498"]]},{"id":"4ca2695.b9c5498","type":"function","z":"f25cd622.40f3a8","name":"4 Remaining Minus","func":"var msg2 = {};\nvar msg3 = {};\nvar r = global.get(\"sp4Remaining\");\nif (r > 0) {\n    msg.payload = 45;\n    msg3.payload = \"green\";\n    r -= 1;\n    global.set(\"sp4Remaining\",r)\n   \n    if (r < 1) {\n     msg.payload = 40;\n     msg3.payload = \"black\";\n   }\n    msg2.payload = r;\n    return [msg, msg2, msg3];\n}\n\n    \n","outputs":3,"noerr":0,"x":1050,"y":700,"wires":[["1d9c0dac.c8e1f2"],["8cc7b156.65d57"],["2345091e.bdbb76"]]},{"id":"8b4e1cb8.9ef9a","type":"function","z":"f25cd622.40f3a8","name":"picture change","func":"\nmsg.payload = \"<img src='/static/patio-off.gif'>\";\nreturn msg;\n","outputs":1,"noerr":0,"x":2200,"y":600,"wires":[["c8b188ce.1049d8"]]},{"id":"b253185f.d9af08","type":"function","z":"f25cd622.40f3a8","name":"picture change","func":"\nmsg.payload = \"<img src='/static/patio-on.gif'>\"\nreturn msg;\n\n","outputs":1,"noerr":0,"x":2200,"y":640,"wires":[["c8b188ce.1049d8"]]},{"id":"12e5be0c.c74252","type":"ui_button","z":"f25cd622.40f3a8","name":"Start East House 6","group":"655491b1.fb808","order":14,"width":"5","height":"1","passthru":false,"label":"Start East House 6","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":310,"y":800,"wires":[["298464fb.72ca2c"]]},{"id":"60cc273c.0e0648","type":"ui_numeric","z":"f25cd622.40f3a8","name":"Time-set 6","label":"East House 6 -- Minutes Setting","group":"655491b1.fb808","order":13,"width":"8","height":"1","passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":610,"y":840,"wires":[["cca8c16b.e1ff"]]},{"id":"b91eafb7.6295c","type":"ui_text","z":"f25cd622.40f3a8","group":"655491b1.fb808","order":16,"width":"2","height":"1","name":"6-remaining","label":"Left","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":780,"wires":[]},{"id":"cca8c16b.e1ff","type":"function","z":"f25cd622.40f3a8","name":"6 Global Set","func":"global.set(\"sp6\",msg.payload);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":840,"wires":[[]]},{"id":"298464fb.72ca2c","type":"function","z":"f25cd622.40f3a8","name":"6 Remaining Set","func":"var g = global.get(\"sp6\") + 1;\nglobal.set(\"sp6Remaining\",g);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":800,"wires":[["49c085d9.1e78ec"]]},{"id":"49c085d9.1e78ec","type":"function","z":"f25cd622.40f3a8","name":"6 Remaining Minus","func":"var msg2 = {};\nvar msg3 = {};\nvar r = global.get(\"sp6Remaining\");\nif (r > 0) {\n    msg.payload = 65;\n    msg3.payload = \"green\";\n    r -= 1;\n    global.set(\"sp6Remaining\",r)\n   \n    if (r < 1) {\n     msg.payload = 60;\n     msg3.payload = \"black\";\n   }\n    msg2.payload = r;\n    return [msg, msg2, msg3];\n}\n\n    \n","outputs":3,"noerr":0,"x":1050,"y":800,"wires":[["1d9c0dac.c8e1f2"],["b91eafb7.6295c"],["dbb69c74.fe897"]]},{"id":"3955cdf3.0f3482","type":"function","z":"f25cd622.40f3a8","name":"picture change","func":"\nmsg.payload = \"<img src='/static/east-side-off.gif'>\";\nreturn msg;\n","outputs":1,"noerr":0,"x":2200,"y":760,"wires":[["c8b188ce.1049d8"]]},{"id":"912ebcb7.4a218","type":"function","z":"f25cd622.40f3a8","name":"picture change","func":"\nmsg.payload = \"<img src='/static/east-side-on.gif'>\"\nreturn msg;\n\n","outputs":1,"noerr":0,"x":2200,"y":800,"wires":[["c8b188ce.1049d8"]]},{"id":"8bc86450.f8be18","type":"delay","z":"f25cd622.40f3a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":100,"y":440,"wires":[["387f5a8e.1f1566","84071853.1dfaa8"]]},{"id":"4887e672.5593e8","type":"ui_button","z":"f25cd622.40f3a8","name":"Run-btn","group":"cfcc141b.b81878","order":1,"width":"5","height":"1","passthru":false,"label":"RUN ALL","color":"","bgcolor":"green","icon":"","payload":"0","payloadType":"num","topic":"","x":100,"y":240,"wires":[["8bc86450.f8be18"]]},{"id":"3abd0c20.4530d4","type":"delay","z":"f25cd622.40f3a8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":110,"y":540,"wires":[["cc75fd78.d9e5","24787281.d7d72e"]]},{"id":"cc75fd78.d9e5","type":"delay","z":"f25cd622.40f3a8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":110,"y":640,"wires":[["a03e70a.4022f9","9f936482.155ee8"]]},{"id":"a03e70a.4022f9","type":"delay","z":"f25cd622.40f3a8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":110,"y":740,"wires":[["9983e6a5.3acdd8","1f927d83.f438e2"]]},{"id":"9983e6a5.3acdd8","type":"delay","z":"f25cd622.40f3a8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":110,"y":840,"wires":[["298464fb.72ca2c","84071853.1dfaa8"]]},{"id":"b1d94742.aaf168","type":"inject","z":"f25cd622.40f3a8","name":"Run All Inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":280,"wires":[[]]},{"id":"f3f9e46.aa33b18","type":"ui_chart","z":"f25cd622.40f3a8","name":"Watering Chart","group":"cfcc141b.b81878","order":0,"width":0,"height":0,"label":"Watering Activity","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"90","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":2460,"y":1000,"wires":[[],[]]},{"id":"3a818e05.c793f2","type":"link in","z":"f25cd622.40f3a8","name":"Chart","links":["c6f32183.a810d"],"x":1975,"y":1000,"wires":[["f3f9e46.aa33b18"]]},{"id":"1d9c0dac.c8e1f2","type":"function","z":"f25cd622.40f3a8","name":"Route","func":"//Blank function just for wire routing\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":660,"wires":[["dbda7d23.3d3a4","874af237.c07c9"]]},{"id":"d03a53f2.70bed","type":"inject","z":"f25cd622.40f3a8","name":"special start","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":160,"wires":[[]]},{"id":"a353587.793efa8","type":"ui_template","z":"f25cd622.40f3a8","group":"39ca20a0.34aa4","name":"Video Stream from IP cam","order":0,"width":"12","height":"10","format":"<img name=\"main\" id=\"main\" border=\"0\" width=\"640\" height=\"480\" src=\"http://192.168.1.111:8081/videostream.cgi\">\nBack Yard Cam","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":2500,"y":1040,"wires":[[]]},{"id":"2c532c76.b31674","type":"comment","z":"f25cd622.40f3a8","name":"Manual Run All","info":"Run all UI button.\nOr you can run all from the flow \nwith the inject button.","x":100,"y":200,"wires":[]},{"id":"4317debe.b2c3b","type":"comment","z":"f25cd622.40f3a8","name":"Night Run Times","info":"","x":320,"y":320,"wires":[]},{"id":"1c334ef3.9f6311","type":"comment","z":"f25cd622.40f3a8","name":"UI Num Input","info":"","x":610,"y":360,"wires":[]},{"id":"a3529e87.70b23","type":"comment","z":"f25cd622.40f3a8","name":"Count Down to Stop","info":"","x":1050,"y":320,"wires":[]},{"id":"cefa2717.918be8","type":"comment","z":"f25cd622.40f3a8","name":"Time Remaining UI","info":"","x":1290,"y":320,"wires":[]},{"id":"eb6b4866.f55e28","type":"comment","z":"f25cd622.40f3a8","name":"Pi GPIO Set Nodes","info":"","x":1990,"y":300,"wires":[]},{"id":"5e785d59.8c3364","type":"comment","z":"f25cd622.40f3a8","name":"HTML image change","info":"These pictures are hosted in the static directory.\nEnable static file hosing in setting.js in your .node-red directory.\n","x":2190,"y":300,"wires":[]},{"id":"806cb472.af3318","type":"comment","z":"f25cd622.40f3a8","name":"HTML image UI","info":"","x":2460,"y":600,"wires":[]},{"id":"70b09fdc.45827","type":"comment","z":"f25cd622.40f3a8","name":"Num Switch Nodes","info":"","x":1670,"y":260,"wires":[]},{"id":"cad9f355.a447","type":"comment","z":"f25cd622.40f3a8","name":"Set Global Variables","info":"","x":790,"y":360,"wires":[]},{"id":"d0fe8c70.63c8e","type":"comment","z":"f25cd622.40f3a8","name":"Preset all times to 20 minutes","info":"Sets all sprinkler run times to X minutes.\nUI input can then change the amount.","x":360,"y":220,"wires":[]},{"id":"2d74d473.42ca3c","type":"comment","z":"f25cd622.40f3a8","name":"Special Start","info":"Runs zone 8 for frequent AC heat exchanger misting.\nZone 8 is disconected from the 20 minute run time \ndefault inject node.","x":410,"y":120,"wires":[]},{"id":"49d9c522.9246bc","type":"inject","z":"f25cd622.40f3a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1520,"y":320,"wires":[["90f94a19.867ed8"]]},{"id":"8a14b899.25f4e8","type":"inject","z":"f25cd622.40f3a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1520,"y":360,"wires":[["e01dbb72.710138"]]},{"id":"cadcf7e2.e57268","type":"function","z":"f25cd622.40f3a8","name":"picture change","func":"\nmsg.payload = \"<img src='/static/garden-off.gif'>\";\nreturn msg;\n","outputs":1,"noerr":0,"x":2200,"y":340,"wires":[["c8b188ce.1049d8"]]},{"id":"65dda82d.38ec08","type":"function","z":"f25cd622.40f3a8","name":"picture change","func":"\nmsg.payload = \"<img src='/static/garden-on.gif'>\"\nreturn msg;\n\n","outputs":1,"noerr":0,"x":2200,"y":380,"wires":[["c8b188ce.1049d8"]]},{"id":"860400ab.6d271","type":"function","z":"f25cd622.40f3a8","name":"picture change","func":"\nmsg.payload = \"<img src='/static/garden-off.gif'>\";\nreturn msg;\n","outputs":1,"noerr":0,"x":2200,"y":420,"wires":[["c8b188ce.1049d8"]]},{"id":"33883350.df2a2c","type":"function","z":"f25cd622.40f3a8","name":"picture change","func":"\nmsg.payload = \"<img src='/static/garden-on.gif'>\"\nreturn msg;\n\n","outputs":1,"noerr":0,"x":2200,"y":460,"wires":[["c8b188ce.1049d8"]]},{"id":"151226af.16e1e9","type":"function","z":"f25cd622.40f3a8","name":"picture change","func":"\nmsg.payload = \"<img src='/static/garden-off.gif'>\";\nreturn msg;\n","outputs":1,"noerr":0,"x":2200,"y":500,"wires":[["c8b188ce.1049d8"]]},{"id":"74e5891f.500988","type":"function","z":"f25cd622.40f3a8","name":"picture change","func":"\nmsg.payload = \"<img src='/static/garden-on.gif'>\"\nreturn msg;\n\n","outputs":1,"noerr":0,"x":2200,"y":540,"wires":[["c8b188ce.1049d8"]]},{"id":"84071853.1dfaa8","type":"delay","z":"f25cd622.40f3a8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":110,"y":940,"wires":[["3b2292a7.e58fce","cf2e9cc9.2e656"]]},{"id":"cf2e9cc9.2e656","type":"delay","z":"f25cd622.40f3a8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":110,"y":1040,"wires":[["50f15e13.820e","e05b2711.a59b68"]]},{"id":"e05b2711.a59b68","type":"delay","z":"f25cd622.40f3a8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":110,"y":1140,"wires":[["85e8c658.d96048"]]},{"id":"44aad243.50bc8c","type":"ui_button","z":"f25cd622.40f3a8","name":"Start hose 1","group":"655491b1.fb808","order":18,"width":"5","height":"1","passthru":false,"label":"Start hose 1","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":290,"y":900,"wires":[["3b2292a7.e58fce"]]},{"id":"7807fef0.1bd7a","type":"ui_button","z":"f25cd622.40f3a8","name":"Start hose 2","group":"655491b1.fb808","order":22,"width":"5","height":"1","passthru":false,"label":"Start Driveway 2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":290,"y":1000,"wires":[["50f15e13.820e"]]},{"id":"4f8df96c.de7448","type":"ui_button","z":"f25cd622.40f3a8","name":"Start hose 3","group":"655491b1.fb808","order":26,"width":"5","height":"1","passthru":false,"label":"Start hose 3","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":290,"y":1100,"wires":[["85e8c658.d96048"]]},{"id":"e5d53b4.34811c8","type":"ui_numeric","z":"f25cd622.40f3a8","name":"Time-set 1","label":"Hose 1 -- Minutes Setting","group":"655491b1.fb808","order":17,"width":"8","height":"1","passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":610,"y":940,"wires":[["adfd41ae.28566"]]},{"id":"3875328d.a0d91e","type":"ui_numeric","z":"f25cd622.40f3a8","name":"Time-set 2","label":"Hose 2 -- Minutes Setting","group":"655491b1.fb808","order":21,"width":"8","height":"1","passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":610,"y":1040,"wires":[["939efade.dded48"]]},{"id":"d01511c3.864ae","type":"ui_numeric","z":"f25cd622.40f3a8","name":"Time-set 3","label":"Hose 3 -- Minutes Setting","group":"655491b1.fb808","order":25,"width":"8","height":"1","passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":610,"y":1140,"wires":[["3f5238c.410a0c8"]]},{"id":"adfd41ae.28566","type":"function","z":"f25cd622.40f3a8","name":"1 Global Set","func":"global.set(\"sp1\",msg.payload);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":940,"wires":[[]]},{"id":"939efade.dded48","type":"function","z":"f25cd622.40f3a8","name":"2 Global Set","func":"global.set(\"sp2\",msg.payload);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1040,"wires":[[]]},{"id":"3f5238c.410a0c8","type":"function","z":"f25cd622.40f3a8","name":"3 Global Set","func":"global.set(\"sp3\",msg.payload);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1140,"wires":[[]]},{"id":"3b2292a7.e58fce","type":"function","z":"f25cd622.40f3a8","name":"1 Remaining Set","func":"var g = global.get(\"sp1\") + 1;\nglobal.set(\"sp1Remaining\",g);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":900,"wires":[["9b8293ee.aae7e"]]},{"id":"50f15e13.820e","type":"function","z":"f25cd622.40f3a8","name":"2 Remaining Set","func":"var g = global.get(\"sp2\") + 1;\nglobal.set(\"sp2Remaining\",g);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1000,"wires":[["78a1b93d.57fb88"]]},{"id":"85e8c658.d96048","type":"function","z":"f25cd622.40f3a8","name":"3 Remaining Set","func":"var g = global.get(\"sp3\") + 1;\nglobal.set(\"sp3Remaining\",g);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1100,"wires":[["eeb06714.62f418"]]},{"id":"9b8293ee.aae7e","type":"function","z":"f25cd622.40f3a8","name":"1 Remaining Minus","func":"var msg2 = {};\nvar msg3 = {};\nvar r = global.get(\"sp1Remaining\");\nif (r > 0) {\n    msg.payload = 15;\n    msg3.payload = \"green\";\n    r -= 1;\n    global.set(\"sp1Remaining\",r)\n   \n    if (r < 1) {\n     msg.payload = 10;\n     msg3.payload = \"black\";\n   }\n    msg2.payload = r;\n    return [msg, msg2, msg3];\n}\n\n    \n","outputs":3,"noerr":0,"x":1050,"y":900,"wires":[["1d9c0dac.c8e1f2"],["79ed8c78.e7c844"],["ab0faa8f.9cc728"]]},{"id":"79ed8c78.e7c844","type":"ui_text","z":"f25cd622.40f3a8","group":"655491b1.fb808","order":20,"width":"2","height":"1","name":"1-remaining","label":"Left","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":880,"wires":[]},{"id":"bc06105c.071e8","type":"ui_text","z":"f25cd622.40f3a8","group":"655491b1.fb808","order":24,"width":"2","height":"1","name":"2-remaining","label":"Left","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":980,"wires":[]},{"id":"ec05d11f.b7c19","type":"ui_text","z":"f25cd622.40f3a8","group":"655491b1.fb808","order":28,"width":"2","height":"1","name":"3-remaining","label":"Left","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":1080,"wires":[]},{"id":"78a1b93d.57fb88","type":"function","z":"f25cd622.40f3a8","name":"2 Remaining Minus","func":"var msg2 = {};\nvar msg3 = {};\nvar r = global.get(\"sp2Remaining\");\nif (r > 0) {\n    msg.payload = 25;\n    msg3.payload = \"green\";\n    r -= 1;\n    global.set(\"sp2Remaining\",r)\n   \n    if (r < 1) {\n     msg.payload = 20;\n     msg3.payload = \"black\";\n   }\n    msg2.payload = r;\n    return [msg, msg2, msg3];\n}\n\n    \n","outputs":3,"noerr":0,"x":1050,"y":1000,"wires":[["1d9c0dac.c8e1f2"],["bc06105c.071e8"],["f80632ca.dbab1"]]},{"id":"eeb06714.62f418","type":"function","z":"f25cd622.40f3a8","name":"3 Remaining Minus","func":"var msg2 = {};\nvar msg3 = {};\nvar r = global.get(\"sp3Remaining\");\nif (r > 0) {\n    msg.payload = 35;\n    msg3.payload = \"green\";\n    r -= 1;\n    global.set(\"sp3Remaining\",r)\n   \n    if (r < 1) {\n     msg.payload = 30;\n     msg3.payload = \"black\";\n   }\n    msg2.payload = r;\n    return [msg, msg2, msg3];\n}\n\n    \n","outputs":3,"noerr":0,"x":1050,"y":1100,"wires":[["1d9c0dac.c8e1f2"],["ec05d11f.b7c19"],["65758c25.5dd534"]]},{"id":"3f3fe646.2ebe9a","type":"inject","z":"f25cd622.40f3a8","name":"2 am start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 02 * * *","once":false,"onceDelay":0.1,"x":110,"y":1220,"wires":[[]]},{"id":"508b571.7792fa8","type":"inject","z":"f25cd622.40f3a8","name":"5 am start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 05 * * *","once":false,"onceDelay":0.1,"x":110,"y":1260,"wires":[[]]},{"id":"f9c1f19.622f11","type":"inject","z":"f25cd622.40f3a8","name":"10 am start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 10 * * *","once":false,"onceDelay":0.1,"x":110,"y":1300,"wires":[[]]},{"id":"3cc3971f.8bd1b8","type":"delay","z":"f25cd622.40f3a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":1340,"wires":[["63f0b37e.6ef40c","6a0966e5.a0d028"]]},{"id":"6a0966e5.a0d028","type":"delay","z":"f25cd622.40f3a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":1380,"wires":[["63f0b37e.6ef40c","9ff923b3.8f71c"]]},{"id":"9ff923b3.8f71c","type":"delay","z":"f25cd622.40f3a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":1420,"wires":[["63f0b37e.6ef40c","b9ae8fb0.eb5ef"]]},{"id":"b9ae8fb0.eb5ef","type":"delay","z":"f25cd622.40f3a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":1460,"wires":[["63f0b37e.6ef40c","73acba48.ff2934"]]},{"id":"73acba48.ff2934","type":"delay","z":"f25cd622.40f3a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":1500,"wires":[["63f0b37e.6ef40c","aae10be4.8f9c98"]]},{"id":"aae10be4.8f9c98","type":"delay","z":"f25cd622.40f3a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":1540,"wires":[["63f0b37e.6ef40c","dac6b340.dd5fd"]]},{"id":"dac6b340.dd5fd","type":"delay","z":"f25cd622.40f3a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":1580,"wires":[["63f0b37e.6ef40c","f2fd2d80.08328"]]},{"id":"f2fd2d80.08328","type":"delay","z":"f25cd622.40f3a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":1620,"wires":[["63f0b37e.6ef40c"]]},{"id":"63f0b37e.6ef40c","type":"function","z":"f25cd622.40f3a8","name":"Route","func":"//Blank function just for wire routing\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1460,"wires":[["8bc86450.f8be18"]]},{"id":"6fe73a15.c993c4","type":"inject","z":"f25cd622.40f3a8","name":"9 am start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 09 * * *","once":false,"onceDelay":0.1,"x":290,"y":1340,"wires":[[]]},{"id":"34655c3a.c383f4","type":"comment","z":"f25cd622.40f3a8","name":"Driveway Sprinkler","info":"","x":490,"y":1300,"wires":[]},{"id":"e637d6a9.576e08","type":"ui_template","z":"f25cd622.40f3a8","group":"655491b1.fb808","name":"8","order":3,"width":"1","height":"1","format":"\n<style>\n.led-green {\nmargin: 0 auto;\nwidth: 24px;\nheight: 24px;\nbackground-color: #ABFF00;\nborder-radius: 50%;\n{\n</style>\n<table>\n<tr>\n<td><div class=\"led-green\" style=\"background-color:{{msg.payload}}\"></div></td>\n\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1290,"y":520,"wires":[[]]},{"id":"f7db3bc4.d99268","type":"ui_template","z":"f25cd622.40f3a8","group":"655491b1.fb808","name":"5","order":31,"width":"1","height":"1","format":"\n<style>\n.led-green {\nmargin: 0 auto;\nwidth: 24px;\nheight: 24px;\nbackground-color: #ABFF00;\nborder-radius: 50%;\n{\n</style>\n<table>\n<tr>\n<td><div class=\"led-green\" style=\"background-color:{{msg.payload}}\"></div></td>\n\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1290,"y":420,"wires":[[]]},{"id":"3c86734e.b40e6c","type":"ui_template","z":"f25cd622.40f3a8","group":"655491b1.fb808","name":"7","order":7,"width":"1","height":"1","format":"\n<style>\n.led-green {\nmargin: 0 auto;\nwidth: 24px;\nheight: 24px;\nbackground-color: #ABFF00;\nborder-radius: 50%;\n{\n</style>\n<table>\n<tr>\n<td><div class=\"led-green\" style=\"background-color:{{msg.payload}}\"></div></td>\n\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1290,"y":620,"wires":[[]]},{"id":"2345091e.bdbb76","type":"ui_template","z":"f25cd622.40f3a8","group":"655491b1.fb808","name":"4","order":11,"width":"1","height":"1","format":"\n<style>\n.led-green {\nmargin: 0 auto;\nwidth: 24px;\nheight: 24px;\nbackground-color: #ABFF00;\nborder-radius: 50%;\n{\n</style>\n<table>\n<tr>\n<td><div class=\"led-green\" style=\"background-color:{{msg.payload}}\"></div></td>\n\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1290,"y":720,"wires":[[]]},{"id":"dbb69c74.fe897","type":"ui_template","z":"f25cd622.40f3a8","group":"655491b1.fb808","name":"6","order":15,"width":"1","height":"1","format":"\n<style>\n.led-green {\nmargin: 0 auto;\nwidth: 24px;\nheight: 24px;\nbackground-color: #ABFF00;\nborder-radius: 50%;\n{\n</style>\n<table>\n<tr>\n<td><div class=\"led-green\" style=\"background-color:{{msg.payload}}\"></div></td>\n\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1290,"y":820,"wires":[[]]},{"id":"ab0faa8f.9cc728","type":"ui_template","z":"f25cd622.40f3a8","group":"655491b1.fb808","name":"1","order":19,"width":"1","height":"1","format":"\n<style>\n.led-green {\nmargin: 0 auto;\nwidth: 24px;\nheight: 24px;\nbackground-color: #ABFF00;\nborder-radius: 50%;\n{\n</style>\n<table>\n<tr>\n<td><div class=\"led-green\" style=\"background-color:{{msg.payload}}\"></div></td>\n\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1290,"y":920,"wires":[[]]},{"id":"f80632ca.dbab1","type":"ui_template","z":"f25cd622.40f3a8","group":"655491b1.fb808","name":"2","order":23,"width":"1","height":"1","format":"\n<style>\n.led-green {\nmargin: 0 auto;\nwidth: 24px;\nheight: 24px;\nbackground-color: #ABFF00;\nborder-radius: 50%;\n{\n</style>\n<table>\n<tr>\n<td><div class=\"led-green\" style=\"background-color:{{msg.payload}}\"></div></td>\n\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1290,"y":1020,"wires":[[]]},{"id":"65758c25.5dd534","type":"ui_template","z":"f25cd622.40f3a8","group":"655491b1.fb808","name":"3","order":27,"width":"1","height":"1","format":"\n<style>\n.led-green {\nmargin: 0 auto;\nwidth: 24px;\nheight: 24px;\nbackground-color: #ABFF00;\nborder-radius: 50%;\n{\n</style>\n<table>\n<tr>\n<td><div class=\"led-green\" style=\"background-color:{{msg.payload}}\"></div></td>\n\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1290,"y":1120,"wires":[[]]}]